<!DOCTYPE html>
<html lang="en">

<head>
    <title>Packam - Buy, Sell and e-auction</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">

    <link rel="stylesheet" href="/stylesheets/css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/css/animate.css">

    <link rel="stylesheet" href="/stylesheets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/stylesheets/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="/stylesheets/css/magnific-popup.css">

    <link rel="stylesheet" href="/stylesheets/css/aos.css">

    <link rel="stylesheet" href="/stylesheets/css/ionicons.min.css">

    <link rel="stylesheet" href="/stylesheets/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="/stylesheets/css/jquery.timepicker.css">

    <link rel="stylesheet" href="/stylesheets/css/flaticon.css">
    <link rel="stylesheet" href="/stylesheets/css/icomoon.css">
    <link rel="stylesheet" href="/stylesheets/css/style.css">
    <link rel="stylesheet" href="/stylesheets/css/aboutUs.css">
</head>

<body class="goto-here">

    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar ftco-navbar-light position-fixed" id="ftco-navbar">
        <div class="container">
            <a class="navbar-brand" href="/"> <img src="../images/packam_logo.png" style="width: 140px; height:70px" alt="Packam">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
	        <span class="oi oi-menu"></span> Menu
	      </button>
            <input class="form-control form-control-lg" type="text" placeholder="Search">
            <div class="collapse navbar-collapse" id="ftco-nav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Catalog</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown04">
                            <a class="dropdown-item" href="/shop">Shop</a>
                            <a class="dropdown-item" href="product-single.html">Single Product</a>
                            <a class="dropdown-item" href="/cart">Cart</a>
                            <a class="dropdown-item" href="/checkout">Checkout</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Account</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown04">
                            <a class="dropdown-item" href="/login">Login</a>
                            <a class="dropdown-item" href="register">Register</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>