<%- include ('./partials/header') %>

<section class="ftco-section contact-section bg-light">
    <div class="container">
        
      <div class="row block-9">
        <div class="col-md-4 order-md-middle d-flex">
          <form action="/auth/login" method="POST" class="bg-white p-5 contact-form">
            <div class="form-group">
              <input type="text" class="form-control" id="userName" name="userName" placeholder="UserName/Email">
            </div>
            
            <div class="form-group">
              <input type="text" name="password" id="password" class="form-control" placeholder="Password">
            </div>
            
            <div class="form-group">
              <input type="submit" value="login" class="btn btn-primary py-3 px-5">
            </div>
          </form>
        
        </div>

        <div class="col-md-6 d-flex">
            <div id="map" class="bg-white"></div>
        </div>
      </div>
    </div>
  </section> 

<!-- loader -->
<div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>

<%- include ('./partials/footer') %>